
*.log
*.txt
*.marks
*.cmake
*.check_cache
*.make
*.o
*.bin
*.cbp
*.xml
*.iml
Cart/cmake-build-debug/Makefile
Cart/cmake-build-debug/CMakeFiles/Makefile2
Cart/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Cart/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
Cart/cmake-build-debug/Cart
*.includecache
*.internal
Cart/main.cpp
